*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.nav{
    background-color:#543a2d;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 8vh;
}
.logo{
    color: #ECDDB6;
    letter-spacing: 5px;
    font-size: 23px;
    text-transform: uppercase;
    width: 30%;
}
.lista{
    display: flex;
    width: 40%;
    justify-content: space-around;
}
.lista__li{
    list-style: none;
}
.lista__a{
    text-decoration: none;
    color: #ECDDB6;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}
.lista__a::after{
    content: "";
    display: block;
    width: 0px;
    height: 3px;
    border-radius: 1px;
    background-color: white;
    transition: width .3s;    
}
.lista__a:hover::after{
    width: 100%;
}

/* -------------------------------------------------------------------inicio--------------------------------------- */

.fondo_principal{
background-color: #705b49;
height: 660px;

}

.imagen_principal{
    position: absolute;
    height: 75%;
    width: 58%;
    background-image: url(../img/cuales-son-los-tipos-de-paneles-solares-mas-eficientes-13685.jpg);
    margin-left: 20%;
    margin-top: 5%;
    border-radius: 50%;
    border-radius: 50%;
    border: solid;
}
.imagen2{
    position: absolute;
    height: 50%;
    width: 50%;
    background-image: url(../img/cuales-son-los-tipos-de-paneles-solares-mas-eficientes-13685.jpg);
    margin-left: -14%;
    margin-top: 4%;
    border-radius: 50%;
    border-radius: 50%;
    border: solid;
}
.imagen3{
    position: absolute;
    height: 50%;
    width: 50%;
    background-image: url(../img/cuales-son-los-tipos-de-paneles-solares-mas-eficientes-13685.jpg);
    margin-left: 73%;
    margin-top: -40%;
    border-radius: 50%;
    border-radius: 50%;
    border: solid;
}
.textoinicial{
    font-size: x-large;
    font-family: initial;
    position: absolute;
    top: 78px;
    left: 35px;
}
.h1{
    margin-top: 100px;
    text-align: center;
    font-size: 25px;
    color: #000000;
}
.titulo_principal{
    margin-top: 170px;
    text-align: center;
    font-size: 25px;
    color: #ECDDB6;
}

/* ------------------------------------------------------------productos ------------------ */

.contenedor__filosofia{
    background-color: #705b49;
    height: 660px;
}














.foo{
    background-color: #514235;
    height: 320px;
}
.cc{
    font-family: initial;
    position: relative;
    top: 70px;
    left: 70px;
    font-style: oblique;
}
.ccc{
    font-family: initial;
    position: relative;
    top: 100px;
    left: 124px;
    font-style: oblique;
}
.s{
    font-family: initial;
    position: relative;
    top: 100px;
    left: 124px;
    font-style: oblique;
}
.sss{
    font-family: initial;
    position: relative;
    top: 56px;
    left: 400px;
    font-style: oblique;
}
.ss{
    font-family: initial;
    position: relative;
    top: 56px;
    left: 400px;
    font-style: oblique;
}
.m{
    font-family: initial;
    position: relative;
    top: 10px;
    left: 557px;
    font-style: oblique;
}
.mm{
    font-family: initial;
    position: relative;
    top: 10px;
    left: 557px;
    font-style: oblique;
}
.Enlaces{
    font-family: initial;
    position: relative;
    top: -90px;
    left: 832px;
    font-style: oblique;
}
.Enlaces1{
    font-family: initial;
    position: relative;
    top: -80px;
    left: 850px;
    font-style: oblique;
    color: black;
}
.Enlaces2{
    font-family: initial;
    position: relative;
    top: -65px;
    left: 870px;
    font-style: oblique;
    color: black;
}